#boardHead {
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 10px;
    width: 725px;
}

#filespaceHead {
    margin-top: 20px;
}

#filespace {
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 20px;
    color: black;
}

#filespace:hover {
    cursor: pointer;
    background-color: #f2f2f2;
    color: black;
}

#backButton {
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 10px;
    color: black;
    max-width: 110px;
    font-size: 12px;
}

#editButton {
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 10px;
    color: black;
    max-width: 65px;
    font-size: 12px;
}

#defaultButton {
    background-color: white;
    border: 0px;
    border-radius: 10px;
    color: black;
    font-size: 14px;
}

#defaultButton:hover {
    background-color: #4176FF;
    color: white;
}

#toDoInput {
    font-size: 10px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #4176FF;
}



#tab {
    font-size: 10px;
}
#todoButton {
    padding: 2px 8px;
    border-radius: 5px;
    border: 0.5px solid lightgray;
}

#todoButton:hover {
    cursor: pointer;
    background-color: #4176FF;
    color: white;
}

#todoTask {
    display: table;
    width: 100%;
    padding: 2px;
    margin-top: 6px;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-size: 12px;
}

#taskContainer {
    height: 170px;
    overflow-y: scroll;
}