#boardHead {
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 10px;
    width: 725px;
}

#filespaceHead {
    margin-top: 20px;
}

#filespace {
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 20px;
    color: black;
}