
form {
    padding-top: 10px;
}

.form-control {
    border-color: #4176FF;
    margin-bottom: 10px;
}

p {
    color: rgb(134, 134, 134);
}

.button {
    background-color: #4176FF;
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right: auto;
    margin-left:auto
 }

 .card {
    padding-right:0;
    padding-left:0;
    margin-right: auto;
    margin-left:auto
 }