#boardHead {
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 10px;
    width: 725px;
}

#filespaceHead {
    margin-top: 20px;
}

#filespaceDiv {
    border: 1px solid lightgray;
    border-radius: 15px;
    padding-top: 15px;
    color: black;
    margin-bottom: 15px;
    max-width: 96%;
    margin-left: 10px;
}

#boardFilespaceName {
    display: inline;
}

#boardFilespaceName:hover {
    cursor: pointer;
    color: #4176FF;
}

#backButton {
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 10px;
    color: black;
    max-width: 110px;
    font-size: 12px;
}

#editButton {
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 10px;
    color: black;
    max-width: 65px;
    font-size: 12px;
}

#defaultButton {
    background-color: white;
    border: 0px;
    border-radius: 10px;
    color: black;
    font-size: 14px;
}

#defaultButton:hover {
    background-color: #4176FF;
    color: white;
}

#toDoInput {
    font-size: 10px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #4176FF;
}



#tab {
    font-size: 10px;
}
#todoButton {
    padding: 2px 8px;
    border-radius: 5px;
    border: 0.5px solid lightgray;
}

#todoButton:hover {
    cursor: pointer;
    background-color: #4176FF;
    color: white;
}

#todoRow {
    padding-left: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-size: 12px;
}

#taskContainer {
    height: 170px;
    overflow-y: scroll;
}

#compList {
    color: grey;
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-size: 12px;
    margin-top: 6px;
}
#removeComp {
    padding: 2px 8px;
    border-radius: 5px;
    border: 0.5px solid lightgray;
}

#removeComp:hover {
    cursor: pointer;
    background-color: #f84d4d;
    color: white;
}

#removeActivity {
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 8px;
}

#navlink {
    text-decoration: none;
    color: black;
}

#navlink:hover {
    color: #4176FF
}

#removeActivity:hover {
    cursor: pointer;
    color: red;
}

#undoComp {
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 5px;
    border: 0.5px solid lightgray;
}

#undoComp:hover {
    cursor: pointer;
    background-color: #4176FF;
    color: white;
}

#checkBox {
    font-size: 12px;
    color: white;
    padding: 2px 2px;
    border-radius: 5px;
    border: 0.5px solid lightgray;
}

#checkBox:hover {
    cursor: pointer;
    background-color: #20c026;
    color: white;
}

#removeTodo:hover {
    cursor: pointer;
    color: #f84d4d;
}

#todoRow {
    margin-bottom: 5px;
}

#boardHeader {
    border: 1px solid lightgray;
    border-radius: 15px;
    font-size: 10px;
    padding: 5px;
    color: black;
    text-align: center;
}

#inviteButton {
    border: 1px solid lightgray;
    border-radius: 15px;
    padding-left: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    color: black;
    max-width: 85px;
    font-size: 12px;
    margin-left: 120px;
}

#inviteButton:hover {
    background-color: #4176FF;
    cursor: pointer;
    color: white;
}

#infoButton {
    border: 1px solid lightgray;
    border-radius: 15px;
    padding-left: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    color: black;
    max-width: 70px;
    font-size: 12px;
    margin-left: 10%;
}

#infoButton:hover {
    background-color: #4176FF;
    cursor: pointer;
    color: white;
}

#boardEditFilespace {
    display: inline;
    float: right;
}

#filespaceToggle {
    background-color: "white";
    border: 0;
    color: black;
    margin-bottom: 20%;
}

#filespaceToggle:focus {
    outline: none !important;
    box-shadow: none;
}

#filespaceToggle::after {
    content: none;
}
