
  .editorSidebar {
    background: white;
    min-width: 75px;
    border: 0.5px solid lightgray;
    margin-top: 55px;
    border-radius: 10px;
    padding: 20px;
    color: black;
  }
  
  
 .sideBarUL {
    list-style-type: none;
    padding: 0;
  }
  
  .editorSidebarListItem {
    margin: 25px 10px;
    height: 20px;
  }

  .editorSidebarListItem:hover {
    cursor: pointer;
    color:  #4176FF;
  }
  
  .editorSidebarListItem span {
    white-space: nowrap;
  }
  
 
  