
.card .nav-link {
    color: black;
}
.card .nav-link:hover {
    color: #4176FF;
}


.card .logout{
    color: black;
    background-color: white;
    border: 0px;
}

#homeHead {
    margin-top: 20px;
}



#deleteBoard {
    font-size: "8px";
    color: white;
    position: absolute; 
    margin: 0px;
    border: 0;
}

#deleteBoard:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
}

#deleteBoard:focus {
    outline: none !important;
    box-shadow: none;
}

#deleteBoard::after {
    content: none;
}
